<!-- Wrap the hero detail HTML in a div tag -->
<!-- Add Angular's ngIf directive to the and set it to selectedHero -->
<div *ngIf="hero">
  <!-- Rename the hero property to selectedHero -->
  <h2>{{ hero.name | uppercase }} Details</h2>
  <div><span>id: </span>{{hero.id}}</div>
  <!-- Refactor the details area including a input textbox to write or modify the hero name -->
  <div>
      <label>name: 
          <input [(ngModel)]="hero.name" placeholder="name">
      </label>
  </div>
  <!-- Add a go back button -->
  <button (click)="goBack()">go back</button>
  <!-- Add a save button -->
  <button (click)="save()">save</button>
</div>
