<!-- Delete the default template and replace it -->
<h1>{{title}}</h1>
<!-- Add a <nav> element -->
<nav>
    <!-- Add a dashboard navigation link to the AppComponent -->
    <a routerLink="/dashboard">Dashboard</a>
    <!-- Add an anchor element that, when clicked, triggers navigation to the HeroesComponent -->
    <a routerLink="/heroes">Heroes</a>
</nav>
<!-- Replace the <app-heroes> element with a <router-outlet> element -->
<router-outlet></router-outlet>
<!-- Add the messages selector to the AppComponent template file -->
<app-messages></app-messages>