<!-- Add an h2 tag -->
<h2>My Heroes</h2>
<!-- Add an HTML unordered list -->
<ul class="heroes">
    <!-- Insert an li tag that displays properties of a hero -->
    <!-- Uses the ngFor directive to repeat the host element for each element in a list -->
    <!-- Add a click event binding -->
    <li *ngFor="let hero of heroes" 
        [class.selected]="hero === selectedHero"
        (click)="onSelect(hero)">
        <span class="badge">{{hero.id}}</span> {{hero.name}}
    </li>
</ul>
<!-- Wrap the hero detail HTML in a div tag -->
<!-- Add Angular's ngIf directive to the and set it to selectedHero -->
<div *ngIf="selectedHero">
    <!-- Rename the hero property to selectedHero -->
    <h2>{{ selectedHero.name | uppercase }} Details</h2>
    <div><span>id: </span>{{selectedHero.id}}</div>
    <!-- Refactor the details area including a input textbox to write or modify the hero name -->
    <div>
        <label>name: 
            <input [(ngModel)]="selectedHero.name" placeholder="name">
        </label>
    </div>
</div>

