<!-- Add an h2 tag -->
<h2>My Heroes</h2>
<!-- Add an input element paired with an add button -->
<div>
    <label>Hero name:
      <input #heroName />
    </label>
    <!-- (click) passes input value to add() and then clears the input -->
    <button (click)="add(heroName.value); heroName.value=''">
      add
    </button>
  </div>
<!-- Add an HTML unordered list -->
<ul class="heroes">
    <!-- Insert an li tag that displays properties of a hero -->
    <!-- Uses the ngFor directive to repeat the host element for each element in a list -->
    <li *ngFor="let hero of heroes">
        <!-- Wrap the badge and name in an anchor element (<a>) -->
        <a routerLink="/detail/{{hero.id}}">
            <span class="badge">{{hero.id}}</span> {{hero.name}}
        </a>
        <!-- Add a delete button -->
        <button class="delete" title="delete hero" (click)="delete(hero)">x</button>
    </li>
</ul>
